!*
%*
*.elc
*~
.cache
.emacs.desktop*
.last-package-update-day
.mc-lists.el
.org-id-locations
.secrets.el
.#*
\#*
ac-comphist.dat
auto-save-list/
bbdb
bookmarks
bookmarks.bak
cache/
debbugs
ede-projects.el
eln-cache
elpa
emms
erc-logs
eww-bookmarks
forge-database.sqlite
games
gitmerge-status~
history
image-dired
mentor
network-security.data
news
newsticker
nov-places
org-roam.db
package-quickstart.el
places
projectile-bookmarks.eld
projectile.cache
projects
recentf
request
saveplace
smex-items
srecode-map.el
tldr
thumbs
timelog
tramp
transient
tutorial
url
url/cookies
