!*
%*
*.elc
.cache
.emacs.desktop*
.last-package-update-day
.mc-lists.el
.org-id-locations
.secrets.el
\#*
ac-comphist.dat
auto-save-list/
bbdb
bookmarks
bookmarks.bak
cache/
ede-projects.el
elpa
eln-cache
emms
erc-logs
eww-bookmarks
games
history
mentor
network-security.data
news
newsticker
org-roam.db
package-quickstart.el
places
projectile-bookmarks.eld
projectile.cache
projects
recentf
request
saveplace
smex-items
srecode-map.el
thumbs
timelog
tramp
transient
tutorial
url
url/cookies
