!*
%*
*.elc
.emacs.desktop*
\#*
auto-save-list/
bbdb
cache/
ede-projects.el
emms
mentor
news
saveplace
tramp
tutorial
url/cookies
.org-id-locations
.secrets.el
ac-comphist.dat
projectile-bookmarks.eld
